<!DOCTYPE html>
<html>
<head>
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>
    <input type="text" id="taskInput" placeholder="Enter a task">
    <button class="button-add" onclick="addTask()">Add Task</button>
    <ul id="taskList"></ul>

    <script>
        function addTask() {
            var taskInput = document.getElementById("taskInput");
            var taskList = document.getElementById("taskList");
            var taskText = taskInput.value.trim();

            if (taskText !== "") {
                var taskItem = document.createElement("li");
                taskItem.textContent = taskText;
                taskList.appendChild(taskItem);
                taskInput.value = "";
            }
        }
    </script>
    <script src="~/js/listSave.js"></script>
    <script src="~/js/listDelete.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/button.css" />
    <link rel="stylesheet" type="text/css" href="~/css/input.css" />
</body>
</html>
